Assignments/.ipynb_checkpoints/Assignment_01-checkpoint.ipynb
Assignments/.ipynb_checkpoints/Assignment_02-checkpoint.ipynb
Assignments/.ipynb_checkpoints/Assignment_03-checkpoint.ipynb
Syllabus/.DS_Store
Assignments/.DS_Store
Activities/.DS_Store
.DS_Store
Activities/Class_02/.ipynb_checkpoints/25-Jan-Activity-01-checkpoint.ipynb
LectureNotes/.ipynb_checkpoints/Class_02_25Jan2023-checkpoint.ipynb
.DS_Store
LectureNotes/.ipynb_checkpoints/Class_03_30Jan2023-checkpoint.ipynb
Activities/Class_03/.ipynb_checkpoints/30-Jan-Activity-01-checkpoint.ipynb
